In [3]:

import pandas
import numpy

In [13]:

bits = 16
formats = pandas.DataFrame({
    'm': range(1, bits),
})
formats['n'] = bits - formats.m 
formats['name'] = 'Q'+formats.m.astype(str)+'.'+formats.n.astype(str)
formats['range_min'] = -numpy.power(2, (formats.m-1))
formats['range_max'] = numpy.power(2, (formats.m-1))
formats['resolution'] = numpy.power(2.0, -formats.n)
formats = formats.set_index('name')
formats

        m   n  range_min  range_max  resolution
name
Q1.15   1  15         -1          1    0.000031
Q2.14   2  14         -2          2    0.000061
Q3.13   3  13         -4          4    0.000122
Q4.12   4  12         -8          8    0.000244
Q5.11   5  11        -16         16    0.000488
Q6.10   6  10        -32         32    0.000977
Q7.9    7   9        -64         64    0.001953
Q8.8    8   8       -128        128    0.003906
Q9.7    9   7       -256        256    0.007812
Q10.6  10   6       -512        512    0.015625
Q11.5  11   5      -1024       1024    0.031250
Q12.4  12   4      -2048       2048    0.062500
Q13.3  13   3      -4096       4096    0.125000
Q14.2  14   2      -8192       8192    0.250000
Q15.1  15   1     -16384      16384    0.500000

In [15]:

from scipy.special import expit

inputs = numpy.linspace(-8, 8, 256)
outs = expit(inputs)
df = pandas.DataFrame(dict(inp=inputs, out=outs))
df

# TODO: convert output to fixed-point Q7 format
# TODO: serialize as C 8bit array
# compare output to sigmoidTable_q7

          inp       out
0   -8.000000  0.000335
1   -7.937255  0.000357
2   -7.874510  0.000380
3   -7.811765  0.000405
4   -7.749020  0.000431
..        ...       ...
251  7.749020  0.999569
252  7.811765  0.999595
253  7.874510  0.999620
254  7.937255  0.999643
255  8.000000  0.999665

[256 rows x 2 columns]